os: linux
dist: xenial
language: python
python:
  - "2.7"
  #- "3.4"
  - "3.5"
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
services:
  - docker
install:
  - pip install --upgrade cython
  - pip install -r requirements/dev.txt
  - cd web
  - yarn global add grunt-cli
  - yarn install
  - grunt
  - cd ..
  - docker volume create --name=redis_data
  - mkdir tmp
  - touch ./tmp/status.json
deploy:
  - provider: script
    script: docker-compose up --build
    on:
      branch: travis
script:
  - echo foo
