os: linux
dist: xenial
language: python
python:
  #- "2.7"
  #- "3.4"
  #- "3.5"
  - "3.6"      # current default Python on Travis CI
  #- "3.7"
  #- "3.8"
install:
  - pip install --upgrade cython
  - pip install -r requirements/dev.txt
  - pip install -r requirements/test_requirements.txt
  - cp tests/test_status.py .
deploy:
  - provider: script
    script: python test_status.py
    on:
      branch: test  
script:
  - echo foo
